.sec {
  background: linear-gradient(to right bottom, #ea4492, #a24393, #5c3e7f, #21305a, #041b2d);
  padding: 43px;
  box-shadow: 0 15px 32px 0 rgb(41, 18, 33), 0 -10px 55px 0 rgb(124, 23, 90);
  height: 450px;  
}

.container {
  position: relative;
  text-align: center;
  color: white;
  top: 0px;
}

/*.head {
  text-align: left;
  margin-left: 4%;
  padding-top: 50px;
}*/

.heading {
  font-size: 65px;
  margin-top: 120px;
  text-align: center;
  font-weight: 450;
}

.slogan {
  font-weight: 500;
  font-size: 21px;
}

@media (max-width: 486px) {
  .heading {
      font-size: 40px;
      text-align: center;
      font-weight: 450;
  }
}

.para {
  text-align: left;
  margin-left: 3%;
  padding-top: 30px;
}

.typography {
  font-size: 21px;
  margin-bottom: 20px;
  line-height: 1.38105;
  font-weight: 400;
  letter-spacing: .011em;
}

@media (max-width: 486px) {
  .typography {
      font-size: 21px;
      margin-bottom: 20px;
      line-height: 1.38105;
      margin-right: 20px;
      font-weight: 400;
      letter-spacing: .011em;
  }
}

.large {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  float: none;
}