*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.contact_us{
  width: 350px;
  background: #fff;
  padding: 50px;
  margin: 70px auto;
  border-radius: 30px;
  position: relative;
}

.title .h{
  color: #39393a;
  letter-spacing: 5px;
  margin-bottom: 25px;
  text-align: center;
}

.heading {
  color: #39393a;
  letter-spacing: 5px;
  margin-top: 6%;
  text-align: center;
}

.form,
.form_items{
  width: 100%;
}

.form_items .input{
  width: 100%;
  margin-bottom: 12px;
  padding: 15px 40px;
  box-sizing: border-box;
  background: #ebeef1;
  border: 0px;
  outline: none;
  border-radius: 30px;
}

.form_items .input.message{
  height: 125px;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 15px 15px;
  resize: none;
}

.btn{
  background: linear-gradient(to right, #0d469b, #78379d, #b90083, #e10055, #eb2212);
  text-align: center;
  color: #fff;
  padding: 12px;
  margin-left: 22%;
  width: 140px;
  border-radius: 25px;
  cursor: pointer;
}

.btn .fas{
  margin-left: 10px;
  font-size: 12px;
}

.form_items{
  position: relative;
}

.form_items .fas{
  position: absolute;
  top: 15px;
  left: 15px;
  color: #9a99aa;
}

.social_icons{
  position: absolute;
  bottom: -25px;
  left: 55%;
  width: 200px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
}

.social_icons div{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}


.social_icons div .fab{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
}

.social_icons div.facebook{
  background: #5178d9;
}

.social_icons div.twitter{
  background: #41caf6;
}

.social_icons div.google{
  background: #fb4f4f;
}