.sec {
    padding: 43px;
    margin-bottom: 15%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    top: 150px;
  }

/*.head {
    text-align: left;
    margin-left: 4%;
    padding-top: 50px;
}*/

.heading {
    font-size: 40px;
    text-align: center;
    font-weight: 450;
    color: #4f4f4f;
}

@media (max-width: 486px) {
    .heading {
        font-size: 40px;
        text-align: center;
        font-weight: 450;
        color: #4f4f4f;
    }
  }

.para {
    text-align: left;
    margin-left: 3%;
    padding-top: 30px;
}

.typography {
    font-size: 19px;
    margin-bottom: 20px;
    line-height: 1.18105;
    font-weight: 400;
    letter-spacing: .011em;
    color: #a8a8a8;
}

@media (max-width: 486px) {
    .typography {
        font-size: 21px;
        margin-bottom: 20px;
        line-height: 1.38105;
        margin-right: 20px;
        color: #a8a8a8;
        font-weight: 400;
        letter-spacing: .011em;
    }
  }

.large {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    float: none;
}

.learn_more {
    font-size: 19px;
    margin-bottom: 20px;
    line-height: 1.18105;
    font-weight: 400;
    letter-spacing: .011em;
    color: #06c;
}

@media (max-width: 486px) {
    .learn_more {
        font-size: 21px;
        margin-bottom: 20px;
        line-height: 1.38105;
        margin-right: 20px;
        color: #06c;
        font-weight: 400;
        letter-spacing: .011em;
    }
  }