.details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.details_image {
    flex: 2 1 60rem;
}

.details_image img {
    max-width: 60rem;
    widows: 100%;
}

.details_info {
    flex: 1 1 30rem;
    margin-right: 20%;
    margin-top: 10%;
}


.details_info ul {
    list-style-type: none;
    padding: 0;
}