.sec {
    background: linear-gradient(to right, #00d4ff 0%, #35b3b9 100%);
    padding: 43px;
    box-shadow: 0 15px 32px 0 rgba(0, 225, 255, 1), 0 -10px 55px 0 rgba(0, 225, 255, 1);
}

.container {
    position: relative;
    text-align: center;
    color: white;
    top: 35px;
  }

/*.head {
    text-align: left;
    margin-left: 4%;
    padding-top: 50px;
}*/

.heading {
    font-size: 50px;
    text-align: center;
    font-weight: 450;
}

@media (max-width: 486px) {
    .heading {
        font-size: 40px;
        text-align: center;
        font-weight: 450;
    }
  }

.para {
    text-align: left;
    margin-left: 3%;
    padding-top: 30px;
}

.typography {
    font-size: 21px;
    margin-bottom: 20px;
    line-height: 1.38105;
    font-weight: 400;
    letter-spacing: .011em;
}

@media (max-width: 486px) {
    .typography {
        font-size: 21px;
        margin-bottom: 20px;
        line-height: 1.38105;
        margin-right: 20px;
        font-weight: 400;
        letter-spacing: .011em;
    }
  }

.large {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    float: none;
}